*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:#e2e8f0;
}

header{
background:#0b1120;
padding:15px 50px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:#e2e8f0;
text-decoration:none;
transition:0.3s;
}

nav ul li a:hover{
color:#38bdf8;
}

/* HERO */
.hero{
padding:80px 50px;
}

.hero-container{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.hero-text span{
color:#38bdf8;
}

.btn, .btn-outline{
display:inline-block;
margin-top:20px;
padding:10px 20px;
border-radius:5px;
text-decoration:none;
transition:0.3s;
}

.btn{
background:#38bdf8;
color:#0f172a;
}

.btn:hover{
transform:scale(1.05);
}

.btn-outline{
border:2px solid #38bdf8;
color:#38bdf8;
}

.btn-outline:hover{
background:#38bdf8;
color:#0f172a;
}

/* Profile Glow Animation */
.hero-image img{
width:260px;
border-radius:50%;
border:4px solid #38bdf8;
animation:glow 2.5s infinite alternate;
}

@keyframes glow{
from{
box-shadow:0 0 10px #38bdf8;
}
to{
box-shadow:0 0 30px #38bdf8;
}
}

/* Sections */
section{
padding:60px 50px;
text-align:center;
}

h2{
color:#38bdf8;
margin-bottom:20px;
}

/* Projects */
.project-card {
  background: #1c2b45;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.project-card:hover{
transform:translateX(10px);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h3 {
    margin: 15px 0 10px;
}

.project-card p {
    font-size: 14px;
    color: whitesmoke;
}

.github-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.github-btn:hover {
    background-color: #333;
}

/* Animation Classes */
.slide-left{
opacity:0;
transform:translateX(-100px);
transition:1s;
}

.slide-right{
opacity:0;
transform:translateX(100px);
transition:1s;
}

.fade-up{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.active{
opacity:1;
transform:translate(0);
}

footer{
background:#0b1120;
padding:15px;
text-align:center;
}

/* Certificate Cards */
.certificate-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:30px;
}

.certificate-card{
background:#1e293b;
padding:25px;
width:300px;
border-radius:12px;
transition:0.4s ease;
border:1px solid rgba(56,189,248,0.2);
}

.certificate-card h3{
color:#38bdf8;
margin-bottom:10px;
}

.certificate-card:hover{
transform:translateY(-12px);
box-shadow:0 10px 25px rgba(56,189,248,0.4);
}

/* CONTACT SECTION */
.contact-section{
background:#0b1120;
padding:80px 50px;
}

.contact-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:50px;
}

.contact-left{
flex:1;
min-width:250px;
}

.contact-left h2{
color:#fff;
margin-bottom:15px;
}

.contact-left p{
color:#aaa;
max-width:350px;
}

.social-icons{
margin-top:20px;
}

.social-icons a{
color:#fff;
margin-right:15px;
font-size:16px;
transition:0.3s;
}

.social-icons a:hover{
color:#38bdf8;
}

/* Right Form */
.contact-right{
flex:1;
min-width:250px;
}

.contact-right form{
display:flex;
flex-direction:column;
gap:20px;
}

.contact-right input,
.contact-right textarea{
background:transparent;
border:none;
border-bottom:1px solid #555;
padding:10px 5px;
color:#fff;
outline:none;
}

.contact-right textarea{
resize:none;
height:80px;
}

.submit-btn{
align-self:flex-end;
background:#fff;
color:#000;
padding:8px 20px;
border:none;
cursor:pointer;
transition:0.3s;
}

.submit-btn:hover{
background:#38bdf8;
color:#000;
}

/* Skills Section Dark Mode */
.skills-section{
background:#0f172a;
padding:80px 50px;
text-align:center;
}

.skills-section h2{
color:#38bdf8;
margin-bottom:40px;
font-size:32px;
}

.skills-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

/* Gradient Skill Card */
.skill-card{
width:160px;
height:160px;
border-radius:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#1e293b;
color:#38bdf8;
font-size:18px;
transition:0.4s ease;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
opacity:0;
transform:translateY(40px);
}

.skill-card i{
font-size:40px;
margin-bottom:10px;
}

/* Hover Effect */
.skill-card:hover{
transform:translateY(-12px);
box-shadow:0 10px 25px rgba(56,189,248,0.4);
}

/* Animation Active */
.skill-card.show{
opacity:1;
transform:translateY(0);
transition:0.6s ease;
}